<FormContainer>
    <div class="mb-3">
        <label for="CurrentPassword" class="form-label">Current Password</label>
        <input type="password" [(ngModel)]="Model.CurrentPassword" class="form-control" name="CurrentPassword"
            id="CurrentPassword" required>
        <ErrorSummary [Keys]="['CurrentPassword','PasswordMismatch']" [Errors]="Errors"></ErrorSummary>
    </div>

    <div class="mb-3">
        <label for="NewPassword" class="form-label">New Password</label>
        <input type="password" [(ngModel)]="Model.NewPassword" class="form-control" name="NewPassword" id="NewPassword"
            required>
        <ErrorSummary [Keys]="['PasswordRequiresDigit','NewPassword','Password',
            'PasswordRequiresNonAlphanumeric',
            'PasswordRequiresLower',
            'PasswordRequiresUpper',
            'PasswordsMustBeAtLeast6Characters',
            'PasswordTooShort']" [Errors]="Errors"></ErrorSummary>
    </div>

    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" [(ngModel)]="Model.ConfirmPassword" class="form-control" name="ConfirmPassword"
            id="ConfirmPassword" required>
        <ErrorSummary [Keys]="['ConfirmPassword']" [Errors]="Errors"></ErrorSummary>
    </div>
    <button (click)="Submit()" class="btn btn-primary">Submit</button>
</FormContainer>