<a [routerLink]="['/login']">Cancel</a>
<FormContainer>
    <div *ngIf="isOtpSubmitted == false;else OtpSubmitted">

        <div class="mb-3">
            <label for="email" class="form-label">Please provide your email to reset your password</label>
            <input type="email" [(ngModel)]="email" class="form-control" name="email" id="email" required>
            <ErrorSummary [Keys]="['Email']" [Errors]="Errors"></ErrorSummary>
        </div>

        <button class="btn btn-primary" (click)="CreateOtp()">Submit</button>
    </div>

    <ng-template #OtpSubmitted>
        <div class="container height-100 d-flex justify-content-center align-items-center">
            <div class="position-relative" *ngIf="showResetPassword==false;else ResetPassword"
                style="max-width: 400px;">
                <div class="card p-2 text-center">
                    <h6>Please enter the one time password <br> to verify your account</h6>
                    <div> <span>A code has been sent to</span> <small>{{email}}</small> </div>
                    <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                        <input (input)="SetOtp(0,$event)" class="m-2 text-center form-control rounded" type="text"
                            id="third" maxlength="1" />
                        <input (input)="SetOtp(1,$event)" class="m-2 text-center form-control rounded" type="text"
                            id="fourth" maxlength="1" />
                        <input (input)="SetOtp(2,$event)" class="m-2 text-center form-control rounded" type="text"
                            id="fifth" maxlength="1" />
                        <input (input)="SetOtp(3,$event)" class="m-2 text-center form-control rounded" type="text"
                            id="sixth" maxlength="1" />
                    </div>
                    <ErrorSummary [Keys]="['Otp']" [Errors]="Errors"></ErrorSummary>
                    <div class="mt-4">
                        <button (click)="Submit()" class="btn btn-primary px-4 validate">Validate</button>
                    </div>
                </div>
            </div>


        </div>
    </ng-template>


</FormContainer>
<ng-template #ResetPassword>
    <FormContainer>
        <h3>Input your new password</h3>
        <div class="mb-3">
            <label for="NewPassword" class="form-label">New Password</label>
            <input type="password" [(ngModel)]="Model.NewPassword" class="form-control" name="NewPassword"
                id="NewPassword" required>
            <ErrorSummary [Keys]="['PasswordRequiresDigit','NewPassword','Password',
            'PasswordRequiresNonAlphanumeric',
            'PasswordRequiresLower',
            'PasswordRequiresUpper',
            'PasswordsMustBeAtLeast6Characters',
            'PasswordTooShort']" [Errors]="Errors"></ErrorSummary>
        </div>

        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" [(ngModel)]="Model.ConfirmPassword" class="form-control" name="ConfirmPassword"
                id="ConfirmPassword" required>
            <ErrorSummary [Keys]="['ConfirmPassword']" [Errors]="Errors"></ErrorSummary>
        </div>
        <button (click)="SubmitResetPassword()" class="btn btn-primary">Submit</button>

    </FormContainer>
</ng-template>