<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form #form (submit)="Submit()">
                    <div class="mb-3">
                        <label for="PersonName" class="form-label">Full name</label>
                        <input type="text" [(ngModel)]="Model.PersonName" class="form-control" name="PersonName"
                            id="PersonName" required>
                        <ErrorSummary [Keys]="['PersonName']" [Errors]="Errors"></ErrorSummary>
                    </div>


                    <div class="mb-3">
                        <label for="Email" class="form-label">Email address</label>
                        <input type="email" required [(ngModel)]="Model.Email" class="form-control" id="Email"
                            name="Email">
                        <ErrorSummary [Keys]="['Email']" [Errors]="Errors"></ErrorSummary>
                    </div>

                    <div class="mb-3">
                        <label for="PhoneNumber" class="form-label">Phone number</label>
                        <input type="tel" [(ngModel)]="Model.PhoneNumber" class="form-control" id="PhoneNumber"
                            name="PhoneNumber">
                        <ErrorSummary [Keys]="['PhoneNumber']" [Errors]="Errors"></ErrorSummary>
                    </div>

                    <div class="mb-3">
                        <label for="Locker" class="form-label">Password</label>
                        <input type="password" [(ngModel)]="Model.Locker" class="form-control" id="Locker" required
                            name="Locker">
                        <ErrorSummary [Keys]="['PasswordRequiresDigit',
                            'PasswordRequiresNonAlphanumeric',
                            'PasswordRequiresLower',
                            'PasswordRequiresUpper',
                            'PasswordsMustBeAtLeast6Characters',
                            'PasswordTooShort']" [Errors]="Errors"></ErrorSummary>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>